
@{
    ViewBag.Title = WebStore.Resources.Titles.Promotions;
}

<section>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>                       @ViewBag.Title
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="separator">&nbsp;</li>
                        <li>                            @ViewBag.Title
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</section>
<section data-name="" class="mg-content mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-section-bg-adapted mg-parallax-background mb-5"
         style="position: relative;background-attachment: scroll;background-size: auto;">
    <div class="mg-box__magnet " style="vertical-align:top;">
        <div class="mg-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="mg-section__container container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="mg-title">Pick the best plan for you</h2>
                    <h5 class="mg-description">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-primary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x10</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$23.275 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-secondary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x25</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$58.187 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-tertiary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x30</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$66.150 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>10%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-name="" class="mg-content mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-section-bg-adapted mg-parallax-background mb-5"
         style="position: relative;background-attachment: scroll;background-size: auto;">
    <div class="mg-box__magnet " style="vertical-align:top;">
        <div class="mg-overlay" style="opacity: 0.2; background-color: rgb(215, 215, 215);"></div>
        <div class="mg-section__container container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="mg-title white">Pick the best plan for you</h2>
                    <h5 class="mg-description white">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-primary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x10</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$23.275 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-secondary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x25</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$58.187 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-tertiary text-center white">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x30</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$66.150 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>10%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-name="" class="mg-content mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-section-bg-adapted mg-parallax-background mb-5"
         style="position: relative;background-attachment: scroll;background-size: auto;">
    <div class="mg-box__magnet " style="vertical-align:top;">
        <div class="mg-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="mg-section__container container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="mg-title">Pick the best plan for you</h2>
                    <h5 class="mg-description">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-primary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x10</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$23.275 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-secondary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x25</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$58.187 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-tertiary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x30</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$66.150 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>10%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-name="" class="mg-content mg-box mg-section mg-section-relative mg-section-fixed-size mg-section-full-height mg-section-bg-adapted mg-parallax-background mb-5"
         style="position: relative;background-attachment: scroll;background-size: auto;">
    <div class="mg-box__magnet " style="vertical-align:top;">
        <div class="mg-overlay" style="opacity: 0.2; background-color: rgb(215, 215, 215);"></div>
        <div class="mg-section__container container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="mg-title white">Pick the best plan for you</h2>
                    <h5 class="mg-description white">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    <div class="section-space"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-primary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x10</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$23.275 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-secondary text-center">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x25</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$58.187 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>5%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-times" style="color:red;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mg-card mg-card-pricing">
                        <div class="mg-card-header-pricing mg-card-header-tertiary text-center white">
                            <div class="mg-card-subtitle-pricing">
                                Lleva <b>x30</b> Productos
                            </div>
                            <h1 class="mg-card-tittle-pricing">$66.150 <small class="h6">+ iva</small></h1>
                        </div>
                        <div class="mg-card-body">
                            <ul class="mg-card-specification-pricing">
                                <li>
                                    <b>10%</b> Descuento Incluido
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho dentro de Santiago
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Despacho a Regiones
                                </li>
                                <li>
                                    <b><i class="fas fa-check" style="color:green;"></i></b> Garantía
                                </li>
                            </ul>
                            <div class="mg-card-img-pricing">
                                <img class="img-fluid" src="http://admin.eepp.cl/images/productos/AZ-GC410-120W-WEB.jpg">
                            </div>
                        </div>
                        <div class="mg-card-footer-pricing text-center">
                            <a href="#pablo" class="btn btn-primary btn-lg">SOLICITAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

