.noUi-target {
  background: #ededed;
  border-radius: 5px;
  box-shadow: none !important;
  position: relative; }
  .noUi-target.ltr {
    direction: ltr; }
  .noUi-target .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; }
    .noUi-target .noUi-base .noUi-connects {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1; }
      .noUi-target .noUi-base .noUi-connects .noUi-connect {
        height: 100%;
        width: 100%;
        background: #343a40;
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat; }
    .noUi-target .noUi-base .noUi-origin {
      height: 10%;
      width: 10%;
      will-change: transform;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -webkit-transform-style: preserve-3d;
      transform-origin: 0 0;
      transform-style: flat; }
      .noUi-target .noUi-base .noUi-origin .noUi-handle {
        border: 1px solid #343a40;
        border-radius: 3px;
        background: #343a40;
        cursor: default;
        box-shadow: inset 0 0 1px #fff, inset 0 0px 2px #ebebeb, 0px 4px 2px -2px #bbb;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute; }
  .noUi-target.noUi-horizontal {
    height: 5px; }
    .noUi-target.noUi-horizontal .noUi-base .noUi-origin {
      height: 0; }
      .noUi-target.noUi-horizontal .noUi-base .noUi-origin .noUi-handle {
        width: 14px;
        height: 20px;
        left: -17px;
        top: -8px; }
        .noUi-target.noUi-horizontal .noUi-base .noUi-origin .noUi-handle:focus {
          outline: none !important;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
        .noUi-target.noUi-horizontal .noUi-base .noUi-origin .noUi-handle .noUi-touch-area {
          height: 100%;
          width: 100%; }
          .noUi-target.noUi-horizontal .noUi-base .noUi-origin .noUi-handle .noUi-touch-area:focus {
            outline: none !important;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none; }
    .noUi-target.noUi-horizontal.noUi-ltr .noUi-base .noUi-origin {
      left: auto;
      right: 0; }
      .noUi-target.noUi-horizontal.noUi-ltr .noUi-base .noUi-origin .noUi-handle {
        right: -12px;
        left: auto; }

.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
