.pagination {
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;

    li {
        display: inline;

        a, span {
            position: relative;
            float: left;
            padding: 10px 20px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            color: #343a40;

            &:hover, &:focus {
                background-color: #eeeeee;
                color: orangered !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(228, 63, 0,.25);
            }
        }

        &:first-child {
            a, span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }
        }

        &:last-child {
            a, span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            position: absolute;
            right: 0;
        }

        &.active {
            a, span {
                cursor: default;
                color: #ffffff;
                background-color: orangered !important;
                border-color: orangered !important;

                &:hover, &:focus {
                    z-index: 2;
                    color: #ffffff !important;
                    cursor: default;
                    background-color: orangered !important;
                    border-color: orangered !important;
                }
            }
        }

        &.disabled {
            a, span {
                &:hover, &:focus {
                    color: #999999;
                    cursor: not-allowed;
                    background-color: #ffffff;
                    border-color: #dddddd;
                }
            }
        }

        &.mg-previous {
            a {
                &::before {
                    content: '\f104';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }
        }

        &.mg-next {
            a {
                &::before {
                    content: '\f105';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            &.mg-last {
                a {
                    &::after {
                        content: '\f101';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                    }
                }
            }
        }

        &.mg-first {
            a {
                &::before {
                    content: '\f100';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }
        }

        &.mg-last {
            a {
                &::after {
                    content: '\f101';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            &.mg-next {
                a {
                    &::before {
                        content: '';
                    }
                }
            }
        }
    }

    &.pagination-lg {
        li {
            a, span {
                padding: 10px 16px;
                font-size: 20px;
            }

            &:first-child {
                a, span {
                    border-bottom-left-radius: 6px;
                    border-top-left-radius: 6px;
                }
            }

            &:last-child {
                a, span {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }

    &.pagination-sm {
        li {
            a, span {
                padding: 5px 10px;
                font-size: 12px;
            }

            &:first-child {
                a, span {
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                }
            }

            &:last-child {
                a, span {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }
    }
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager:before,
.pager:after {
    display: table;
    content: " ";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
}
