@import url(_extra.min.css);

/*#region Icons */

.fo-cart:before {
    content: '\e801';
    font-weight: 900;
}

.fo-shopping-cart:before {
    content: '\e804';
    font-weight: normal;
}

.fo-2x {
    font-size: 2em;
}

.navbar-sticky.scrolled .icon-hover {
    color: #232323;
}

/*#endregion*/

/*#region Banner */

.mg-banner {
    margin: 0;
}

.mg-banner-first {
    transition: -webkit-transform .4s ease-in-out, background-color .2s;
    transition: transform .4s ease-in-out, background-color .2s;
}

.mg-banner-first {
    display: table;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 30px;
    border-bottom: 1px solid #e1e7ec;
    background-color: #f5f5f5;
    z-index: 9010;
}

.mg-banner-content-left {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    font-size: 13px;
}

.mg-banner-content-right {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;
}

.mg-banner-content-left a {
    color: grey;
    text-decoration: none;
    padding-right: 10px;
}

    .mg-banner-content-left a:hover {
        color: #007bff;
    }

.mg-banner-content-right a i {
    font-size: 1.5em;
}

.mg-banner-content-right a {
    color: grey;
    text-decoration: none;
    padding-right: 10px;
}

    .mg-banner-content-right a:hover {
        color: #007bff;
    }

/*#endregion */

/*#region Navbar */

    .navbar-sticky.scrolled .navbar-nav .active a {
        color: #fff;
    }
/*#endregion */

/*#region Searcher */

.navbar-sticky.scrolled .mg-site-search .mg-search-tools .mg-close-search {
    padding-top: 2px;
}

/*#endregion */

/*#region Menu */

.mg-submenu-list {
    padding: 0;
}

    .mg-submenu-list li {
        padding: 10px;
    }

    .mg-submenu-list a {
        color: grey !important;
    }

/*#endregion */

/*#region Mobile Menu */

.mg-mobile-menu-li {
    display: inline-block;
}

.navbar-sticky.scrolled .mg-mobile-menu-wrapper-item {
    border-left: 1px solid rgba(255, 255, 255, .5);
}

    .navbar-sticky.scrolled .mg-mobile-menu-wrapper-item:first-child {
        border-left: none;
    }

/*#endregion*/

/*#region Menu toolBar*/

@media (max-width: 360px) {
    .site-header .toolbar .toolbar-item {
        width: 75px;
    }
}
/*#endregion*/

/*#region Images */
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
}

.img-thumbnail {
    padding: 5px !important;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #fff;
}

    .img-thumbnail.rounded-circle {
        border-radius: 50%;
    }

    .flag-icon img{
        width: 75px;
    }

.mg-index-rota-img {
    right: 250px;
    top: -530px;
    position: absolute;
    max-width: 300px;
}

.draggable {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}
/*#endregion */

/*#region Buttons */

.mg-buttons__link,
.mg-buttons__link:hover {
    text-decoration: none;
}

.mg-buttons__link {
    margin: 0 10px 13px 0;
}
/*#endregion */

/*#region Content */

body {
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none;
    position: relative;
}

.mg-on-mobile {
    display: none;
}

.mg-content {
    overflow: hidden;
    padding: 0px 20px 0px;
    position: relative;
}

#jarallax-container-0 {
    clip: rect(0px 1583px 758px 0);
    clip: rect(0px, 1583px, 758px, 0);
}

#jarallax-container-1 {
    clip: rect(0px 1583px 758px 0);
    clip: rect(0px, 1583px, 758px, 0);
}

.form-control,
.input-group-text {
    background-color: transparent;
    border-radius: 0px;
}

.input-group .input-group-addon {
    left: 15px;
    transition: color .3s;
    background-color: transparent !important;
    color: #999;
}

.input-group .input-group-addon,
.input-group .input-group-btn {
    display: inline-block;
    position: absolute;
    top: 45%;
    margin-top: 2px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.1em;
}

.input-group .form-control {
    padding-left: 37px;
    transition: all .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-group input:focus {
    background-color: transparent;
}

    .input-group input:focus + span {
        color: #007bff;
    }

.form-control {
    padding: 0 18px;
    transition: all .25s;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    .form-control:focus {
        border-color: #007bff !important;
        box-shadow: none;
    }

    .form-control.error:focus {
        border-color: red !important;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #f5f5f5;
        cursor: not-allowed;
    }

.form-group .form-control::placeholder, .form-group .form-control:-moz-placeholder, ::-webkit-input-placeholder, input::placeholder {
    color: #999 !important;
}

.custom-control .custom-control-label {
    margin: 0;
    padding-left: 0;
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: none;
    position: absolute;
}

textarea.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
}

.initial {
    box-shadow: 0 20px 30px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.mg-card-body {
    min-height: 216px;
}

.bg-secondary {
    background-color: #f5f5f5 !important;
}

.bg-warning {
    background-color: #ffa000 !important;
}

.text-warning {
    color: #ffa000 !important;
}

.list-icon {
    padding: 0;
    list-style: none;
    line-height: 1.8;
}

    .list-icon > li {
        position: relative;
        margin-bottom: 6px;
        padding-left: 22px;
    }

        .list-icon > li > i {
            display: block;
            position: absolute;
            left: 0;
            line-height: inherit;
        }

.list-unstyled {
    padding-left: 0;
    list-style: none;
    line-height: 1.8;
}

.h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.25;
}

.h4 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
}

.margin-top-3x {
    margin-top: 72px !important;
}

.margin-top-4x {
    margin-top: 96px !important;
}

.margin-top-5x {
    margin-top: 120px !important;
}

.padding-top-2x {
    padding-top: 48px !important;
}

.padding-top-3x {
    padding-top: 72px !important;
}

.margin-bottom-1x {
    margin-bottom: 24px !important;
}

.padding-bottom-1x {
    padding-bottom: 24px !important;
}

.padding-bottom-1x {
    padding-bottom: 24px !important;
}

.padding-bottom-2x {
    padding-bottom: 48px !important;
}

.padding-bottom-3x {
    padding-bottom: 72px !important;
}

.text-xsm {
    font-size: 11px;
}

.text-sm {
    font-size: 13px;
}

.text-medium {
    font-weight: 600 !important;
}

.text-lg {
    font-size: 16px;
}

.text-gray-dark {
    color: #232323 !important;
}

.custom-control {
    margin-bottom: 6px !important;
    padding-left: 1.5rem !important;
}

a.card {
    color: inherit;
    text-decoration: none;
    border-radius: 0;
}

    a.card:hover {
        background-color: #f5f5f5 !important;
    }

.b-bottom-1p {
    border-bottom: 1px solid #e5e5e5;
}

.b-top-1p {
    border-top: 1px solid #e5e5e5;
}

.transaction {
    text-decoration: none !important;
}

.block-separator {
    min-height: 100px;
}

#addInternationalAddressSecction, #addNationalAddressSecction {
    display: none;
}

.modal-content {
    border-radius: 6px;
    border-color: #e5e5e5;
}

.modal-header {
    background-color: #f5f5f5;
}

.modal-header, .modal-body, .modal-footer {
    padding-right: 20px;
    padding-left: 20px;
}

.modal-footer {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navi-link {
    transition: color .3s;
    color: #505050;
    text-decoration: none !important;
}

.w-90 {
    width: 90px !important;
}

.open {
    display: block !important;
}

a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover {
    background-color: #f5f5f5 !important;
}

/*#endregion */

/*#region Widget*/

.mg-widget-featured-posts > .entry{
    display: table;
    width: 100%;
    margin-bottom: 18px;
}

    .mg-widget-featured-posts > .entry .entry-thumb{
        width: 62px;
        padding-right: 12px;
    }

    .mg-widget-featured-posts > .entry .entry-thumb,
    .mg-widget-featured-posts > .entry .entry-content {
        display: table-cell;
        vertical-align: top;
    }

        .mg-widget-featured-posts > .entry .entry-thumb > a{
            display: block;
            border-radius: 5px;
            overflow: hidden;
        }

            .mg-widget-featured-posts > .entry .entry-thumb > a > img {
                width: 100%;
            }

    .mg-widget-featured-posts > .entry .entry-title {
        margin-bottom: 0;
        font-size: 14px;
    }

        .mg-widget-featured-posts > .entry .entry-title > a {
            transition: color .3s;
            color: #505050 !important;
            font-weight: 400;
            text-decoration: none;
        }

    .mg-widget-featured-posts > .entry .entry-meta {
        display: block;
        margin-bottom: 0;
        padding-top: 4px;
        color: #999;
        font-size: 12px;
    }

.mg-widget-order-summary .table td {
    padding: 6px 0;
    border: 0;
}

.market-button.orders-button::before {
    position: absolute;
    content: '\f49e';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: #db9d40;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.market-button.orders-button:hover::before {
    color: #aa7a31;
}

.market-button.security-button::before {
    position: absolute;
    content: '\f023';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: lightgrey;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.market-button.security-button:hover::before {
    color: darkgray;
}

.market-button.address-button::before {
    position: absolute;
    content: '\f3c5';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    color: rgb(0, 196, 0);
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.market-button.address-button:hover::before {
    color: green;
}

.market-button.tickets-button::before {
    position: absolute;
    content: '\f3ff';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.market-button.wishes-button::before {
    position: absolute;
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 50px;
    color: red;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.market-button.wishes-button:hover::before {
    color: rgb(165, 0, 0);
}

.mg-widget-account .market-button {
    position: relative;
    padding: 20px 50px 20px 80px;
    height: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
}

    .mg-widget-account .market-button:hover {
        background-color: #f5f5f5;
    }
/*#endregion */

/*#region Counter */
.mg-countdown {
    display: inline-block;
}

    .mg-countdown .item {
        display: block;
        margin: 7px;
        float: left;
        text-align: center;
    }

        .mg-countdown .item .days,
        .mg-countdown .item .hours,
        .mg-countdown .item .minutes,
        .mg-countdown .item .seconds {
            width: 48px;
            height: 48px;
            margin-bottom: 5px;
            border: 1px solid dimgrey;
            border-radius: 0px;
            font-size: 22px;
            line-height: 46px;
        }

        .mg-countdown .item .days_ref,
        .mg-countdown .item .hours_ref,
        .mg-countdown .item .minutes_ref,
        .mg-countdown .item .seconds_ref {
            font-size: 12px;
            text-transform: uppercase;
        }

.mg-product-badge {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
}

.mg-bg-faded,
.mg-bg-secondary {
    background-color: #f5f5f5
}

.mg-bg-counter {
    border-radius: 0px !important;
    background-color: rgb(255, 255, 255, 0.2) !important;
}

/*#endregion */

/*#region Footer */
/* footer*/
footer {
    width: 100%;
}

.footer_links a {
    color: white;
    text-transform: uppercase;
}

.footer_end {
    padding-top: 40px;
}

    .footer_end img {
        font-size: 10em;
    }

.pera a {
    color: inherit !important;
}

.pera i:hover {
    color: white !important;
}

.powerby {
    color: grey;
    float: right;
}

.totop {
    bottom: 40px;
    right: 15px;
    padding: 10px 15px;
    background-color: #343a40;
    color: white !important;
    position: fixed;
    z-index: 2147483647;
    display: block;
}

    .totop:hover {
        color: white;
        background-color: #007bff;
        border: 1px solid #007bff;
        text-decoration: none;
    }

/*#endregion */

/*#region Footer2 */
.margin-bottom-2x {
    margin-bottom: 48px !important;
}

/*#endregion*/

/*#region Titles*/
.mg-section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

    .mg-section-title b {
        display: block;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: .7;
        background-color: grey;
    }

.mg-section-title-center span {
    text-align: center;
    margin: 0 15px;
    color: grey;
    padding-bottom: 5px;
    font-weight: normal;
}

/*#endregion*/

/*#region Productos */

        .btn-wishlist.active > i {
            color: #f44336
        }

        .btn-compare.active > i::after {
            display: block;
            position: absolute;
            top: -5px;
            right: -6px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #4caf50;
            content: ''
        }

/*#endregion*/

/*#region LeftMenu */

.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px !important;
    background: #454545 !important;
    font-weight: normal;
    color: #454545;
}
/*#endregion */

/*#region Accordion*/
.accordion .card {
    margin-bottom: 8px;
    border-bottom: 0;
}

.card-header {
    border-bottom-color: #e5e5e5;
}

    .card-header.no-b {
        border-bottom: 0;
    }

.card-header, .card-footer {
    background-color: #f5f5f5;
}

    .card-header:first-child {
        border-radius: 0;
    }

    .card-header h1, .card-header .h1, .card-header h2, .card-header .h2, .card-header h3, .card-header .h3, .card-header h4, .card-header .h4, .card-header h5, .card-header .h5, .card-header h6, .card-header .h6 {
        margin-bottom: 0;
    }

.accordion [data-toggle='collapse'] {
    display: block;
    position: relative;
    color: #232323;
    font-size: 16px;
    text-decoration: none;
}

    .accordion [data-toggle='collapse']::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        margin-top: -12px;
        transition: -webkit-transform .25s;
        transition: transform .25s;
        font-family: "Font Awesome 5 Free";
        font-size: 18px;
        font-weight: 900;
        content: '\f106';
    }

    .accordion [data-toggle='collapse'].collapsed::after {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

.accordion .collapse {
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .accordion .collapse.no-b {
        border-bottom: 0px;
    }

.card-wrapper {
    margin: 30px 0;
}
/*#endregion*/

/*#region Card Pricing*/

.btn-princing-white {
    border: 1px solid #e1e7ec;
    background-color: #f5f5f5;
}

/*#endregion*/

/*#region Orders*/

.mg-orders-filter .row, .mg-order-titles.on-mobile .row, .mg-filter-orders-menu .row {
    margin: 0;
}

.mg-header-spacing {
    height: 4.8rem;
}

.mg-filter-orders-menu {
    position: relative;
    padding: 10px;
}

.mg-orders-type, .mg-orders-time {
    width: 100%;
    padding: 15px;
}

    .mg-orders-type h3, .mg-orders-time h3 {
        font-size: 28px !important;
    }

    .mg-orders-type label, .mg-orders-time label {
        margin-bottom: 0;
    }

#ordersFilters .modal-content {
    border: 0;
}

.mg-order-titles.on-mobile {
    display: none;
}
/*#endregion*/

/*#region Dashed*/

.card.mg-card-dashed {
    border-style: dashed;
    height: 266px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

    .card.mg-card-dashed .card-body i {
        font-size: 35px;
    }

.mg-add-address {
    text-decoration: none !important;
}

.card.mg-card-address {
    height: 266px;
    width: 320px;
}

    .card.mg-card-address .card-footer {
        border: 0;
        background-color: #fff;
        padding-top: 0;
    }

/*#endregion*/

/*#region Traking*/
.steps {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .steps.on-desktop {
        display: flex;
    }

    .steps.on-mobile {
        display: none;
    }

    .steps .step {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: -1px;
        margin-left: -1px;
        padding: 20px 15px;
        border: 5px solid #fff;
        background-color: #e5e5e5;
        text-align: center;
        text-decoration: none;
    }

    .steps.on-mobile .step {
        display: block;
        position: relative;
        width: 20%;
        margin-bottom: -1px;
        margin-left: -1px;
        padding: 0.2em 1em;
        border: 0;
        background-color: #e5e5e5;
        text-align: center;
        text-decoration: none;
    }

        .steps.on-mobile .step:before {
            position: absolute;
            top: -11px;
            right: -5px;
            width: 30px;
            height: 30px;
            line-height: 28px;
            border: 1px solid #ddd;
            border-radius: 100%;
            display: block;
            text-align: center;
            background-color: #fff;
            z-index: 1;
        }

        .steps.on-mobile .step:nth-child(1):before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f290";
        }

        .steps.on-mobile .step:nth-child(2):before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f013";
        }

        .steps.on-mobile .step:nth-child(3):before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f559";
        }

        .steps.on-mobile .step:nth-child(4):before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0d1";
        }

        .steps.on-mobile .step:nth-child(5):before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f015";
        }

        .steps .step.active, .steps.on-mobile .step.active:before {
            background-color: #007bff;
            cursor: default;
            pointer-events: none;
        }

        .steps .step.ready, .steps.on-mobile .step.ready:before {
            background-color: #4caf50;
            cursor: default;
            pointer-events: none;
        }

    .steps .step > i {
        display: inline-block;
        margin-bottom: 12px;
        color: rgba(153,153,153,0.6);
        font-size: 1.8em;
    }

    .steps .step.ready > i::before, .steps.on-mobile .step.step.ready:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
    }

    .steps .step .step-title {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: .025em;
    }

    .steps .step.active .step-title, .steps .step.active > i, .steps.on-mobile .step.active:before {
        color: #fff;
    }

    .steps .step.ready .step-title, .steps .step.ready > i, .steps.on-mobile .step.ready:before {
        color: #fff;
    }
/*#endregion*/

/*#region Profile*/
.mg-profile {
    position: fixed;
    top: 235px;
    left: -300px;
    z-index: 9030;
    transition: left .4s ease-in-out;
}

    .mg-profile.open {
        left: 0;
    }

.mg-profile-toggle {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 2px 10px 0px rgba(0,0,0,0.28);
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

    .mg-profile-toggle > i {
        transition: opacity .3s;
        font-size: 24px;
        line-height: 51px;
    }

        .mg-profile-toggle > i:hover {
            opacity: 0.7;
        }

.mg-profile-body {
    width: 300px;
    /*padding: 25px;*/
    border-bottom-right-radius: 7px;
    background-color: #fff;
    box-shadow: 5px 3px 10px 0px rgba(0,0,0,0.28);
}

.user-info-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 90px;
    padding-bottom: 30px;
    /* border: 1px solid #e5e5e5; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}

    .user-info-wrapper .user-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-position: center;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .user-info-wrapper .info-label {
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
        height: 26px;
        padding: 0 12px;
        border-radius: 4px;
        background-color: #fff;
        color: #505050;
        font-size: 12px;
        line-height: 26px;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.18);
        cursor: pointer;
    }

        .user-info-wrapper .info-label > i {
            display: inline-block;
            margin-right: 3px;
            font-size: 1.2em;
            vertical-align: middle;
        }

    .user-info-wrapper .user-info {
        display: table;
        position: relative;
        width: 100%;
        padding: 0 18px;
        z-index: 1;
    }

        .user-info-wrapper .user-info .user-avatar, .user-info-wrapper .user-info .user-data {
            display: table-cell;
            vertical-align: top;
        }

        .user-info-wrapper .user-info .user-avatar {
            position: relative;
            width: 115px;
            cursor: pointer;
        }

            .user-info-wrapper .user-info .user-avatar .edit-avatar {
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                opacity: 0;
                transition: opacity .3s;
            }

                .user-info-wrapper .user-info .user-avatar .edit-avatar::after {
                }

                .user-info-wrapper .user-info .user-avatar .edit-avatar::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 17px;
                    content: "\f044";
                    position: absolute;
                    top: -2px;
                    right: 2px;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #fff;
                    color: #505050;
                    line-height: 34px;
                    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                }

                .user-info-wrapper .user-info .user-avatar .edit-avatar:hover {
                    opacity: 1;
                }

            .user-info-wrapper .user-info .user-avatar img {
                display: block;
                width: 100%;
                border: 5px solid #fff;
                border-radius: 50%;
            }

        .user-info-wrapper .user-info .user-data {
            padding-top: 48px;
            padding-left: 12px;
        }

            .user-info-wrapper .user-info .user-data h4 {
                margin-bottom: 2px;
            }

            .user-info-wrapper .user-info .user-data span {
                display: block;
                color: #999;
                font-size: 12px;
            }

.list-group-item {
    border-color: #e5e5e5;
    background-color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.with-badge {
    position: relative;
    padding-right: 3.3rem;
}

a.list-group-item, .list-group-item-action {
    position: relative;
    transition: all .25s;
    color: #505050;
}

a.list-group-item {
    padding-top: .87rem;
    padding-bottom: .87rem;
}

.user-info-wrapper + .list-group .list-group-item:first-child {
    border-radius: 0;
}

a.list-group-item::before, .list-group-item-action::before {
    position: absolute;
    top: 0;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: #007bff;
    content: '';
    opacity: 0;
}

.list-group-item.active::before {
    opacity: 1;
}

.list-group-item i {
    display: inline-block;
    margin-top: -2px;
    margin-right: 8px;
    font-size: 1.1em;
    vertical-align: middle;
}

.badge {
    color: #fff;
    font-size: 85%;
    font-weight: 500;
}

.list-group-item span {
    font-weight: normal !important;
}

.with-badge .badge {
    position: absolute;
    top: 50%;
    right: 1.15rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.badge.badge-default {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    color: #505050;
}

.list-group-item.active {
    border-color: #e5e5e5;
    background-color: #fff;
    color: #007bff;
    cursor: default;
    pointer-events: none;
}

.list-group-item:hover {
    color: #007bff;
}
/*#endregion*/

/*#region Avatars*/

.avatars {
    display: block;
}

.avatar {
    position: relative;
    float: left;
    display: block;
    margin: 0 12px 30px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .avatar img {
        margin: 0 auto;
        align: center;
        display: block;
        width: 70px;
        height: 70px;
        transform: scale(0.9);
    }

.avatars:hover > .avatar {
    opacity: 0.5;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

    .avatars:hover > .avatar:hover {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transition: all .1s ease-in;
        -moz-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        -webkit-filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.3));
        cursor: pointer;
    }

    .avatars:hover > .avatar:active {
        opacity: .9;
        transform: scale(1.05);
        -webkit-transition: all .2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
    }

.avatars .avatar.active {
    opacity: .9;
    transform: scale(1.05);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
}

.avatar.selected::before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: solid 3px #C8CAD4;
}

.avatar.active::before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: solid 3px #C8CAD4;
}
/*#endregion*/

/*#region Categories blockquote*/

.mg-cate-thumbnail {
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

    .mg-cate-thumbnail:nth-child(n) {
        border-left: 0px;
        border-top: 0px;
    }

    .mg-cate-thumbnail:nth-child(5), .mg-cate-thumbnail:nth-child(6), .mg-cate-thumbnail:nth-child(7), .mg-cate-thumbnail:nth-child(8) {
        border-bottom: 0px;
    }

    .mg-cate-thumbnail:nth-child(4n+0) {
        border-right: 0px;
    }

    .mg-cate-thumbnail:hover {
        background-color: #007bff;
    }

        .mg-cate-thumbnail:hover i, .mg-cate-thumbnail:hover p {
            color: white;
        }

    .mg-cate-thumbnail a {
        text-decoration: none !important;
        color: inherit !important;
    }
/*#endregion*/

/*#region Pagination*/
.mg-previous a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f104';
    font-weight: 900;
}

.mg-next a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f105';
    font-weight: 900;
}

.mg-first a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f100';
    font-weight: 900;
    padding-right: 5px;
}

.mg-last a::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f101';
    font-weight: 900;
    padding-left: 5px;
}

.mg-on-mobile .pagination li.first a::before, .mg-on-mobile .pagination li.last a::after, .mg-on-mobile .pagination li.next a::before, .mg-on-mobile .pagination li.previous a::before {
    font-size: 12px;
}
/*#endregion*/

/*#region Vertical Nav*/
.mg-nav-trigger {
    display: none;
}

#mg-vertical-nav ul {
    list-style: none;
    padding: 0;
}

#mg-vertical-nav .nav-link {
    padding: 0;
}

#mg-vertical-nav {
    position: fixed;
    right: -78px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
}

    #mg-vertical-nav li {
        text-align: right;
        padding-bottom: 1rem;
    }

    #mg-vertical-nav a {
        display: inline-block;
        /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
    }

        #mg-vertical-nav a:after {
            content: "";
            display: table;
            clear: both;
        }

        #mg-vertical-nav a span {
            float: right;
            display: inline-block;
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -o-transform: scale(0.6);
            transform: scale(0.6);
        }

        #mg-vertical-nav a:hover span,
        #mg-vertical-nav a.active .mg-dot {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }

        #mg-vertical-nav a:hover .mg-label {
            opacity: 1;
            left: -100%;
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            transition: transform 0.2s, opacity 0.2s;
        }

        #mg-vertical-nav a .mg-label:before, #mg-vertical-nav a .mg-label:after {
            position: absolute;
            top: 1px;
            left: 100%;
            width: 0;
            height: 0;
            border: solid transparent;
            content: '';
            pointer-events: none;
            transform: rotateZ(180deg);
        }

        #mg-vertical-nav a .mg-label:before {
            margin-top: -2px;
            border-width: 12px;
            border-color: transparent;
            border-right-color: rgba(0, 0, 0, 0.53);
        }

        #mg-vertical-nav a .mg-label:after {
            border-width: 10px;
            border-color: transparent;
        }

    #mg-vertical-nav .mg-dot {
        position: relative;
        /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
        top: 8px;
        right: calc(100% - 15px);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #995581;
        -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
        -moz-transition: -moz-transform 0.2s, background-color 0.5s;
        transition: transform 0.2s, background-color 0.5s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    #mg-vertical-nav .mg-label {
        position: relative;
        margin-right: 10px;
        padding: 4px 14px;
        color: white;
        background: rgba(0, 0, 0, 0.53);
        font-size: 10px;
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

/*#endregion*/

/*#region 404*/
.fw-section, .fh-section {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fw-section {
    width: 100%;
}
/*#endregion*/

/*#region Responsive*/
@media(max-width: 768px) {

    .mg-on-mobile {
        display: block;
    }

    .mg-on-desktop {
        display: none;
    }

    .mg-banner {
        display: none;
    }

    .mg-logo-title {
        display: none;
    }

    .mg-big-screen {
        display: none !important;
    }

    .mg-mobile-menu {
        display: block;
    }

    .navbar-brand img {
        height: 40px;
    }

    .mg-logo-img {
        padding-left: 15px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .carousel-indicators li {
        width: 80px;
        height: 25px;
    }

    .breadcrumbs, .header h1 {
        text-align: center;
    }

    .display-2 {
        font-size: 2rem;
    }

    .mg-nomiddle {
        vertical-align: top !important;
    }

    .shopping-cart-footer > .column {
        display: block;
        width: 100%;
    }

    .coupon-form .form-control {
        display: block;
        max-width: 100%;
    }

    .shopping-cart-footer > .column .btn {
        width: 100%;
        margin: 12px 0 !important;
    }

    .shopping-cart-footer > .column:last-child {
        text-align: center;
    }

    .mg-card.mg-card-pricing {
        width: 360px;
    }

    /*.navbar{
      background-color: #343a40;
    }
    .navbar li{
      padding: 10px;
    }
    .mg-li-menu, .mg-li-social {
      border-bottom: 1px solid rgba(255,255,255,.5);
    }
    .mg-li-menu:first-child{
      border-top: 1px solid rgba(255,255,255,.5);
    }
    .mg-li-social:last-child {
      border-bottom: 0px;
    }
    .navbar-nav li a {
      color: rgba(255,255,255,.5);
    }
    .navbar-toggler {
      color: rgba(255,255,255,.5);
      border-color: rgba(255,255,255,.1);
    }*/
}

@media (min-width: 768px){
    .mg-on-mobile {
        display: none;
    }

    .mg-on-desktop {
        display: block;
    }
}

@media (max-width: 991px) {


    .mg-sidebar-toggle {
        display: block;
        position: fixed;
        top: 50%;
        width: 46px;
        height: 46px;
        margin-top: -24px;
        background-color: #fff;
        color: #505050;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.18);
        cursor: pointer;
        z-index: 9900;
    }

        .mg-sidebar-toggle.position-left {
            left: 0;
            transition: left .3s ease-in-out;
            border-top: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

    .mg-sidebar-offcanvas {
        position: fixed;
        top: 0;
        width: 320px;
        height: 100%;
        padding: 42px 24px 30px;
        background-color: #fff;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
        z-index: 9910;
        overflow-y: auto;
        -ms-overflow-style: none;
    }

        .mg-sidebar-offcanvas.position-left {
            left: -320px;
            transition: left 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s,box-shadow 0.3s 0.3s;
        }

        .mg-sidebar-offcanvas.open {
            box-shadow: 0 0 50px 3px rgba(0,0,0,0.15);
        }

            .mg-sidebar-offcanvas.open.position-left {
                left: 0;
            }

    .mg-sidebar-toggle.position-left.sidebar-open {
        left: -46px;
    }

    .mg-sidebar-close {
        display: block;
        position: absolute;
        top: 8px;
        right: 15px;
        color: #505050;
        font-size: 22px;
        cursor: pointer;
    }

    .mg-shop-view {
        display: none;
    }

    #mg-vertical-nav {
        display: none;
    }

    .hidden-on-mobile {
        display: none !important;
    }

    .alert {
        max-width: 330px;
    }

    .card-header .on-desktop {
        display: none;
    }

    .card-header .row.on-mobile {
        display: flex;
    }

    .card-body .on-desktop {
        display: none;
    }

    .card-body .row.on-mobile {
        display: flex;
    }

    .mg-orders-titles.on-desktop {
        display: none;
    }

    .mg-orders-filter.on-desktop {
        display: none;
    }

    .mg-order-titles.on-mobile {
        display: block;
    }

    .steps.on-desktop {
        display: none;
    }

    .steps.on-mobile {
        display: flex;
    }

    .mg-profile {
        display: none;
    }

    #carouselPopularBrands .carousel-indicators {
        bottom: -50%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    /*.container {
        width: 100% !important;
        max-width: 100% !important;
    }*/

    .mg-index-rota-img {
        right: 115px;
        top: -530px;
        max-width: 300px;
    }
}

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb, .wishlist-table .product-item .product-thumb, .order-table .product-item .product-thumb {
        display: none;
    }
}

@media (max-width: 948px) {

    .mg-index-rota-img {
        max-width: 165px;
        top:-430px;
        right:100px;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }

    .totop {
        right: 45px;
    }
}

@media (max-width: 576px) {
    .mg-on-mobile {
        display: block;
    }

    .mg-on-desktop {
        display: none;
    }

    .mg-shop-sorting label, .mg-shop-sorting .form-control {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-top: 0;
        padding-right: 0;
    }

    .mg-cate-thumbnail:nth-child(n) {
        border: 1px solid #ddd;
        border-bottom: 0px;
    }

    .mg-cate-thumbnail:last-child {
        border-bottom: 1px solid #ddd;
    }

    .mg-buttons__btn.btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;
        height: 44px;
    }

    .mg-card.mg-card-pricing {
        width: 300px;
    }

    .mg-index-rota-img {
        max-width: 100px;
        top: -100px;
        right: 50%;
        transform: translateX(50%);
    }
}
/*#endregion */
