@import url(_extra.min.css);

/*#region Icons */

.fo-cart:before {
    content: '\e801';
    font-weight: 900;
}

.fo-shopping-cart:before {
    content: '\e804';
    font-weight: normal;
}

.fo-2x {
    font-size: 2em;
}

.navbar-sticky.scrolled .icon-hover {
    color: #232323;
}

/*#endregion*/

/*#region Banner */

.mg-banner {
    margin: 0;
}

.mg-banner-first {
    transition: -webkit-transform .4s ease-in-out, background-color .2s;
    transition: transform .4s ease-in-out, background-color .2s;
}

.mg-banner-first {
    display: table;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 30px;
    border-bottom: 1px solid #e1e7ec;
    background-color: #f5f5f5;
    z-index: 9010;
}

.mg-banner-content-left {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    font-size: 13px;
}

.mg-banner-content-right {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;
}

.mg-banner-content-left a {
    color: grey;
    text-decoration: none;
    padding-right: 10px;
}

    .mg-banner-content-left a:hover {
        color: #007bff;
    }

.mg-banner-content-right a i {
    font-size: 1.5em;
}

.mg-banner-content-right a {
    color: grey;
    text-decoration: none;
    padding-right: 10px;
}

    .mg-banner-content-right a:hover {
        color: #007bff;
    }

/*#endregion */

/*#region Navbar */

    .navbar-sticky.scrolled .navbar-nav .active a {
        color: #fff;
    }
/*#endregion */

/*#region Searcher */

.navbar-sticky.scrolled .mg-site-search .mg-search-tools .mg-close-search {
    padding-top: 2px;
}

/*#endregion */

/*#region Menu */

.mg-submenu-list {
    padding: 0;
}

    .mg-submenu-list li {
        padding: 10px;
    }

    .mg-submenu-list a {
        color: grey !important;
    }

/*#endregion */

/*#region Mobile Menu */

.mg-mobile-menu-li {
    display: inline-block;
}

.navbar-sticky.scrolled .mg-mobile-menu-wrapper-item {
    border-left: 1px solid rgba(255, 255, 255, .5);
}

    .navbar-sticky.scrolled .mg-mobile-menu-wrapper-item:first-child {
        border-left: none;
    }

/*#endregion*/

/*#region Menu toolBar*/

@media (max-width: 360px) {
    .site-header .toolbar .toolbar-item {
        width: 75px;
    }
}
/*#endregion*/

/*#region Images */
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 300px;
}

.img-thumbnail {
    padding: 5px !important;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #fff;
}

    .img-thumbnail.rounded-circle {
        border-radius: 50%;
    }

    .flag-icon img{
        width: 75px;
    }

.mg-index-rota-img {
    right: 250px;
    top: -530px;
    position: absolute;
    max-width: 300px;
}

.draggable {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}
/*#endregion */

/*#region Buttons */

.mg-buttons__link,
.mg-buttons__link:hover {
    text-decoration: none;
}

.mg-buttons__link {
    margin: 0 10px 13px 0;
}
/*#endregion */

/*#region Content */

.form-control,
.input-group-text {
    
}

.custom-control .custom-control-label {
    margin: 0;
    padding-left: 0;
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: none;
    position: absolute;
}



/*#endregion */

/*#region Widget*/

.mg-widget-featured-posts > .entry{
    display: table;
    width: 100%;
    margin-bottom: 18px;
}

    .mg-widget-featured-posts > .entry .entry-thumb{
        width: 62px;
        padding-right: 12px;
    }

    .mg-widget-featured-posts > .entry .entry-thumb,
    .mg-widget-featured-posts > .entry .entry-content {
        display: table-cell;
        vertical-align: top;
    }

        .mg-widget-featured-posts > .entry .entry-thumb > a{
            display: block;
            border-radius: 5px;
            overflow: hidden;
        }

            .mg-widget-featured-posts > .entry .entry-thumb > a > img {
                width: 100%;
            }

    .mg-widget-featured-posts > .entry .entry-title {
        margin-bottom: 0;
        font-size: 14px;
    }

        .mg-widget-featured-posts > .entry .entry-title > a {
            transition: color .3s;
            color: #505050 !important;
            font-weight: 400;
            text-decoration: none;
        }

    .mg-widget-featured-posts > .entry .entry-meta {
        display: block;
        margin-bottom: 0;
        padding-top: 4px;
        color: #999;
        font-size: 12px;
    }

.mg-widget-order-summary .table td {
    padding: 6px 0;
    border: 0;
}

/*#endregion */

/*#region Counter */
.mg-countdown {
    display: inline-block;
}

    .mg-countdown .item {
        display: block;
        margin: 7px;
        float: left;
        text-align: center;
    }

        .mg-countdown .item .days,
        .mg-countdown .item .hours,
        .mg-countdown .item .minutes,
        .mg-countdown .item .seconds {
            width: 48px;
            height: 48px;
            margin-bottom: 5px;
            border: 1px solid dimgrey;
            border-radius: 0px;
            font-size: 22px;
            line-height: 46px;
        }

        .mg-countdown .item .days_ref,
        .mg-countdown .item .hours_ref,
        .mg-countdown .item .minutes_ref,
        .mg-countdown .item .seconds_ref {
            font-size: 12px;
            text-transform: uppercase;
        }

.mg-product-badge {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
}

.mg-bg-faded,
.mg-bg-secondary {
    background-color: #f5f5f5
}

.mg-bg-counter {
    border-radius: 0px !important;
    background-color: rgb(255, 255, 255, 0.2) !important;
}

/*#endregion */

/*#region Footer */
/* footer*/
footer {
    width: 100%;
}

.footer_links a {
    color: white;
    text-transform: uppercase;
}

.footer_end {
    padding-top: 40px;
}

    .footer_end img {
        font-size: 10em;
    }

.pera a {
    color: inherit !important;
}

.pera i:hover {
    color: white !important;
}

.powerby {
    color: grey;
    float: right;
}

/*#endregion */

/*#region Footer2 */
.margin-bottom-2x {
    margin-bottom: 48px !important;
}

/*#endregion*/

/*#region Titles*/
.mg-section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

    .mg-section-title b {
        display: block;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 2px;
        opacity: .7;
        background-color: grey;
    }

.mg-section-title-center span {
    text-align: center;
    margin: 0 15px;
    color: grey;
    padding-bottom: 5px;
    font-weight: normal;
}

/*#endregion*/

/*#region Productos */

        .btn-wishlist.active > i {
            color: #f44336
        }

        .btn-compare.active > i::after {
            display: block;
            position: absolute;
            top: -5px;
            right: -6px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #4caf50;
            content: ''
        }

/*#endregion*/

/*#region LeftMenu */

.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px !important;
    background: #454545 !important;
    font-weight: normal;
    color: #454545;
}
/*#endregion */

/*#region Accordion*/
.accordion .card {
    margin-bottom: 8px;
    border-bottom: 0;
}

.card-header {
    border-bottom-color: #e5e5e5;
}

    .card-header.no-b {
        border-bottom: 0;
    }

.card-header, .card-footer {
    background-color: #f5f5f5;
}

    .card-header:first-child {
        border-radius: 0;
    }

    .card-header h1, .card-header .h1, .card-header h2, .card-header .h2, .card-header h3, .card-header .h3, .card-header h4, .card-header .h4, .card-header h5, .card-header .h5, .card-header h6, .card-header .h6 {
        margin-bottom: 0;
    }

.accordion [data-toggle='collapse'] {
    display: block;
    position: relative;
    color: #232323;
    font-size: 16px;
    text-decoration: none;
}

    .accordion [data-toggle='collapse']::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        margin-top: -12px;
        transition: -webkit-transform .25s;
        transition: transform .25s;
        font-family: "Font Awesome 5 Free";
        font-size: 18px;
        font-weight: 900;
        content: '\f106';
    }

    .accordion [data-toggle='collapse'].collapsed::after {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

.accordion .collapse {
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .accordion .collapse.no-b {
        border-bottom: 0px;
    }

.card-wrapper {
    margin: 30px 0;
}
/*#endregion*/

/*#region Card Pricing*/

.btn-princing-white {
    border: 1px solid #e1e7ec;
    background-color: #f5f5f5;
}

/*#endregion*/

/*#region Orders*/

.mg-orders-filter .row, .mg-order-titles.on-mobile .row, .mg-filter-orders-menu .row {
    margin: 0;
}

.mg-header-spacing {
    height: 4.8rem;
}

.mg-filter-orders-menu {
    position: relative;
    padding: 10px;
}

.mg-orders-type, .mg-orders-time {
    width: 100%;
    padding: 15px;
}

    .mg-orders-type h3, .mg-orders-time h3 {
        font-size: 28px !important;
    }

    .mg-orders-type label, .mg-orders-time label {
        margin-bottom: 0;
    }

#ordersFilters .modal-content {
    border: 0;
}
/*#endregion*/

/*#region Profile*/

.list-group-item-action {
    position: relative;
    transition: all .25s;
    color: #505050;
}

.list-group-item-action::before {
    position: absolute;
    top: 0;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: #007bff;
    content: '';
    opacity: 0;
}

/*#endregion*/
