$Icons: ( donkijote: '\e800' )

@font-face {
    font-family: 'icons';
    src: url('/Content/font/icons.eot?42379800');
    src: url('/Content/font/icons.eot?42379800#iefix') format('embedded-opentype'), url('/Content/font/icons.woff?42379800') format('woff'), url('/Content/font/icons.ttf?42379800') format('truetype'), url('/Content/font/icons.svg?42379800#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

html * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fos {
    font-family: "icons";

    @each $item, $icon in $Icons{
        &.fo-#{$item}{
            content: $icon;
            font-weight: normal;
        }
    }
}
