
@{
    ViewBag.Title = "Error 404";
}

<section class="fw-section margin-top-4x " style="background-image: url(/Content/img/bg/404-bg.png);">
    <img class="d-block m-auto" src="~/Content/img/bg/404_art.jpg" style="width: 100%; max-width: 550px;"
         alt="404">
</section>
<div class="container padding-bottom-3x mb-1">
    <div class="text-center">
        <h2>Página No Encontrada</h2>
        <p>
            Al parecer no podemos encontrar esta página que usted está buscando. <a href="/">Volver a Inicio</a><br>
            O intente usar el buscardor arriba a la derecha con el icono de <i class="fas fa-search"></i>.
        </p>
    </div>
</div>

